*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("./images/texturepaper.jpg") ;
}
.draggable{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 20rem;
 
  margin-right: 10px;
  color: black;
}
.draggable2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.5%;
  width: 50rem;
  height: 35rem;
background: url("./images/bglass.png") no-repeat;
background-position: center;
  margin-right: 10px;
  color: black;
}

button{
  background: transparent;
  border: 0;
}